<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem
        id="menu_recording_root"
        name="Recording"
        web_icon="recording,static/description/icon.png"
        sequence="100"
        groups="group_user"
        />

    <menuitem
        id="menu_recording"
        name="Recordings"
        parent="menu_recording_root"
        action="action_recording"
        sequence="300"
        />

    <menuitem
        id="menu_config"
        name="Configuration"
        parent="menu_recording_root"
        groups="group_manager"
        sequence="500"
        />

    <menuitem
        id="menu_config_recording"
        name="Recordings"
        parent="menu_config"
        sequence="0"
        />

    <menuitem id="recording_language_menu"
        name="Languages"
        action="recording_lang.action_recording_language"
        parent="menu_config_recording"
        sequence="200"
        />

    <menuitem id="musical_catalog_menu"
        name="External Catalogs"
        action="musical_catalog.action_musical_catalog"
        parent="menu_config"
        sequence="900"
        />

</odoo>
